* {
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Open-sans";
}

body {
  font-family: sans-serif;
  background-color: rgb(20, 19, 19);
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
h1 {
  color: #fff;
  margin-left: 20vh;
  margin-top: 10vh;
  margin-bottom: 1.5%;
}
.container {
  width: 370px;
}

.inputNum {
  text-align: right;
  color: white;
  background-color: black;
  width: 282px;
}

input {
  padding: 25px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  width: 90px;
  background-color: rgb(47, 52, 50);
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.zeroRow,
.firstRow,
.secondRow,
.thirdRow,
.fourthRow {
  margin-bottom: 3px;
}
.reset {
  background-color: rgb(255, 42, 42);
  color: #fff;
}

.plus,
.minus,
.multiply,
.divide {
  color: white;
  background-color: rgb(47, 52, 50);
}

.zero {
  width: 185px;
}
